.gallery{
    margin-top: 10px;
    padding-top: 25px;
  &-title{
      font-size: 24px;

      text-transform: uppercase;
      padding: 10px;

     }
    display:flex;
    flex-direction: column;
   &-list{
       display:flex;
       justify-content: space-around;

       flex-wrap: wrap;
       &__item img{
           width: 250px;
           border-radius: 10px;
           border: 1px solid gray;
           box-shadow: 1px 1px 3px darkgrey;
       }
   }












}
