<nav class = "nav">
  <div class = "nav-left">
      <img class = "nav-left__logo" src="./assets/img/warner.png" alt="">
      <h4>Warner Live</h4>
  </div>
  <div>
    <img src="./assets/img/LOGO/logo.png" alt="" class="footer-img2">
  </div>
  <div class ="nav-rigth">
      <a href="">inicio</a>
      <a href="">Buscar</a>
      <!-- <img class = "nav-rigth__logo" src="./assets/img/Icons/zoom-32.png" alt=""> -->

      <button (click) = "changeDark()" >{{theme}}</button>

  </div>

</nav>
<!-- src/assets/img/Icons/zoom-32.png -->
